<!-- Check out the dark themed version on my github: https://github.com/emkelley -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<body>
  <nav class="navbar topNav">
      <div class="container ">
          <div class="navbar-brand">
              <a class="navbar-item" href="/">
                  HYPE HYPE HYPE
              </a>
              <div class="navbar-burger burger" data-target="">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </div>
          <div class="navbar-end">
              <div class="navbar-item">
                  <div class="field is-grouped">
                      <p class="control">
                          <a class="" href="#">
                              <i class="fa fa-user-circle"></i>
                          </a>
                          <span>SARYL</span>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </nav>
  <nav class="navbar shadow">
      <div class="container">
          <div class="navbar-menu">
              <div class="navbar-start bottomNav ">
                  <a class="navbar-item" href="#">
                      <i class="fa fa-tachometer-alt"></i>&nbsp; Dashboard</a>

                  <a class="navbar-item" href="/DataViewer">
                      <i class="fa fa-list"></i>&nbsp; DataViewer</a>

                  <a class="navbar-item" href="/ArtistViewer">
                      <i class="fa fa-user"></i>
                    &nbsp; Artist</a>

                  <a class="navbar-item" href="/Algorithm">
                      <i class="fa fa-chart"></i>
                      &nbsp; Algorithm</a>

                  <a class="navbar-item" href="/Documents">
                      <i class="fa fa-star"></i>&nbsp; Documents</a>

                  <a class="navbar-item" href="#">
                      <i class="fa fa-envelope-open"></i>&nbsp; Notification</a>

                  <a class="navbar-item" href="#">
                      <i class="fa fa-cog"></i>&nbsp; Settings</a>
              </div>
              <div class="navbar-end">
                  <a class="navbar-item" href="#">
                      <i class="fa fa-sign-out"></i>&nbsp; Logout</a>
              </div>
          </div>
      </div>
  </nav>
  <div class="container">
      <div class="columns">
          <div class="column is-12 main">
              <span class="heading">Stats</span>
              <section class="info-tiles">


                <div class="progress--circle progress--50">
                    <div class="progress__number">Backend</div>
                  </div>
                  
                  <div class="progress--circle progress--50">
                    <div class="progress__number">Code</div>
                  </div>
                  
                  <div class="progress--circle progress--75">
                    <div class="progress__number">Frontend</div>
                  </div>

                
                  <span class="heading">OVERVIEW</span>
                  <section id="order">
                    <router-outlet></router-outlet>
                  </section>
              </section>
          </div>
      </div>
      <br>
      <br>
     </div>
</body>